.header__container{
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    background-color:var(--color-blue);
    color: var(--color-white);
}

.nav__item{
    margin: 0 2rem;
}


.header__item{
    padding: 0.25rem;
    color: var(--color-white);
    text-transform: uppercase;
    text-decoration: none;
}

.header__menu{
    display: flex;
    justify-content: space-between;
}

#header__logo{
    font-size: 1.5rem;
    margin-left: 1rem;
}

#header__login{
    margin-right: 1rem;
}

.header__item:hover{
    text-shadow: 2px 2px 5px var(--color-white);
}
